<%= form_for @vmconfig, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :memory, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :memory, :class => 'text_area' %>
    </div>
  </div>
   <div class="control-group">
    <%= f.label :vcpu, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :vcpu, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                vmconfigs_path, :class => 'btn' %>
  </div>
<% end %>
